.jumbotron {

color: darkslategray;
background: url('../images/concesionario.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;

}

footer {
padding: 20px 10px 0px 10px;
background-color: darkslategray;
margin-bottom: 0px;
margin-top: 10px;
color: white;

}

.card-vehiculo{
    flex: 1 200px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-modelos{
    width: 100%;
    border-radius: 0px;
}

.io-mis-iconos{
    padding-right: 10px;
    
}

.mi-marca-autos{
    padding: 2px 5px 2px 5px;
}

.tab-content{
    padding-top: 10px;
}

card-cotizacion{
    padding: 5px 2px 2px 5px;
}