.jumbotron {
  color: #2f4f4f;
  background: url("../images/concesionario.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

footer {
  padding: 20px 10px 0px 10px;
  background-color: #2f4f4f;
  color: white;
  margin-bottom: 0px;
  margin-top: 10px; }

.card-vehiculo {
  flex: 1 200px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
  margin-top: 10px; }

.btn-modelos {
  width: 100%;
  border-radius: 0px; }

.io-mis-iconos {
  padding-right: 10px; }

.mi-marca-autos {
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px; }

.tab-content {
  padding-top: 10px; }
