$verde-gris: #2f4f4f;
$amarillo-oscuro: #ebba28;9
$rojo-oscuro: #9c0202;

@mixin margenes($top, $bottom,) {
    margin-bottom: $bottom;
    margin-top: $top;     
}

@mixin mispadding($pt, $pr, $pb, $pl) {
    padding-top: $pt;
    padding-right: $pr;
    padding-bottom: $pb;
    padding-left: $pl;
}


.jumbotron {

    color: $verde-gris;
    background: url('../images/concesionario.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
    }
    
    footer {
    padding: 20px 10px 0px 10px;
    background-color: $verde-gris;
    color: white;
    @include margenes(10px,0px);
    }
    
    .card-vehiculo{
        flex: 1 200px;
        @include mispadding(2px, 5px, 2px, 5px);
        margin-top: 10px;
    }
    
    .btn-modelos{
        width: 100%;
        border-radius: 0px;
    }
    
    .io-mis-iconos{
        padding-right: 10px;
        
    }
    
    .mi-marca-autos{
        @include mispadding(2px, 5px, 2px, 5px)
    }
    
    .tab-content{
        padding-top: 10px;
    }
    
    